NODE_ENV=development

# Better Auth
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
BETTER_AUTH_SECRET=
BETTER_AUTH_API_KEY=

# Database
# Prod URL: 
# Dev URL: 
DATABASE_URL=
# Direct connection to the database. Used for migrations
# Prod URL: 
# Dev URL: 
DIRECT_URL=
# Publishable key
# Remote: 
# Local: 
SUPABASE_PUBLISHABLE=
# Secret keys
# Remote: 
# Local: 
SUPABASE_SECRET=

# Social Providers
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=